In [ ]:
import numpy as np
import pandas as pd

1) Load the Toyota vehicle’s data from a given csv file into a dataframe and print it. (Toyota.csv)

In [ ]:
toyota_data=pd.read_csv('Datasets/Toyota.csv',sep=',',header='infer')

In [ ]:
toyota_data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [ ]:
df2=toyota_data.copy()

2) Replace all abnormal symbols such as ‘?’ ‘***’ etc. by Null values

In [ ]:
toyota_data=pd.read_csv('Datasets/Toyota.csv',sep=',',header='infer' , na_values=('??','***'))
toyota_data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

3) Count the total number of null values present in each attribute (column)

In [ ]:
toyota_data.isnull()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1431,False,False,True,False,False,False,False,False,False,False,False
1432,False,False,False,True,False,False,False,False,False,False,False
1433,False,False,True,False,False,False,False,False,False,False,False
1434,False,False,False,True,True,False,False,False,False,False,False
1435,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
print(toyota_data.isnull().sum())

Unnamed: 0      0
Price           0
Age           100
KM             15
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

4) Replace the NaN in Age column by median value.

In [ ]:
x=toyota_data["Age"].median()
toyota_data["Age"].fillna(x,inplace=True)
toyota_data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

5) Replace the string value in column Door with number.

In [ ]:
a=list()
for i in toyota_data['Doors']:
  a.append(i)
set(a)

{'2', '3', '4', '5', 'five', 'four', 'three'}

In [ ]:
toyota_data["Doors"].replace({'five':5,'four':4,'three':3,'2':2,'3':3,'4':4,'5':5},inplace=True)
toyota_data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,1,90,1.0,0,2000,3,1165
1,1,13750,23.0,72937.0,1,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,1,90,1.0,0,2000,3,1165
3,3,14950,26.0,48000.0,1,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,1,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.0,0,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,0,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.0,0,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,0,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,0,110,0.0,0,1600,5,1114

In [ ]:
toyota_data["Doors"].value_counts()

5    674
3    622
4    138
2      2
Name: Doors, dtype: int64

6) Returns a Series containing counts of unique values for column ‘FuelType’ (Petrol,
Diesel, CNG )

In [ ]:
toyota_data["FuelType"].unique()

array(['Diesel', nan, 'Petrol', 'CNG'], dtype=object)

In [ ]:
toyota_data["FuelType"].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

7) Get the mode value of FuelType and fill NA/NaN values using the specified value of
mode.

In [ ]:
m=toyota_data["FuelType"].mode()[0]
print(m)
toyota_data["FuelType"].fillna(m,inplace=True)
toyota_data

Petrol

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,3,1165
1,1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,Petrol,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

8) Get the mode value of Metcolor and fill NA/NaN values using the specified value of mode.

In [ ]:
n=toyota_data["MetColor"].mode()[0]
print(n)
toyota_data["MetColor"].fillna(n,inplace=True)
toyota_data

1.0

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90,1.0,0,2000,3,1165
1,1,13750,23.0,72937.0,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90,1.0,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.0,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.0,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,Petrol,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110,0.0,0,1600,5,1114

9) Replace the value of FuelType as for Petrol replaces with 0, diesel with 1 and CNG with
2.

In [ ]:
toyota_data["FuelType"].replace({'Petrol':0,'Diesel':1, 'CNG':2},inplace=True) 
toyota_data

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,1,90,1.0,0,2000,3,1165
1,1,13750,23.0,72937.0,1,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,1,90,1.0,0,2000,3,1165
3,3,14950,26.0,48000.0,1,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,1,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.0,0,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,0,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.0,0,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,0,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,0,110,0.0,0,1600,5,1114

10) Copy the dataset to new dataframe and apply One hot encoding categorical approach on
Fueltype column.

In [ ]:
df=pd.DataFrame(toyota_data['FuelType'])
df

      FuelType
0            1
1            1
2            1
3            1
4            1
...        ...
1431         0
1432         0
1433         0
1434         0
1435         0

[1436 rows x 1 columns]

In [ ]:
y = pd.get_dummies(df.FuelType, prefix='FuelType')
y

      FuelType_0  FuelType_1  FuelType_2
0              0           1           0
1              0           1           0
2              0           1           0
3              0           1           0
4              0           1           0
...          ...         ...         ...
1431           1           0           0
1432           1           0           0
1433           1           0           0
1434           1           0           0
1435           1           0           0

[1436 rows x 3 columns]

11) Apply Binary Encoding approach to Fueltype column:

In [ ]:
df2

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [ ]:
df2["FuelType"].unique()

array(['Diesel', nan, 'Petrol', 'CNG'], dtype=object)

In [ ]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.4.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

In [ ]:
import category_encoders as ce

In [ ]:
encoder = ce.BinaryEncoder(cols=['FuelType'])
df_binary = encoder.fit_transform(df2)

df_binary

,Unnamed: 0,Price,Age,KM,FuelType_0,FuelType_1,FuelType_2,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,0,0,1,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,0,0,1,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,0,0,1,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,0,0,1,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,0,0,1,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,0,1,1,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,0,1,1,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,0,1,1,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,0,1,0,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,0,1,1,110,0.0,0,1600,5,1114

12) Check for missing data after filling values

In [ ]:
mean=toyota_data['KM'].mean()
print(mean)
toyota_data['KM'].fillna(mean,inplace=True)
toyota_data

68647.23997185081

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.000000,1,90,1.0,0,2000,3,1165
1,1,13750,23.0,72937.000000,1,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711.000000,1,90,1.0,0,2000,3,1165
3,3,14950,26.0,48000.000000,1,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500.000000,1,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,60.0,20544.000000,0,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,68647.239972,0,86,0.0,0,1300,3,1015
1433,1433,8500,60.0,17016.000000,0,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,68647.239972,0,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.000000,0,110,0.0,0,1600,5,1114

In [ ]:
toyota_data.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64